* { 
      margin: 0; 
       padding: 0; 
       box-sizing: inherit; 
     } 
     
     
     html { 
       box-sizing: border-box; 
     } 
     
     
     ul, 
     ol { 
       list-style: none; 
     } 
     
     
     img { 
       display: block; 
       max-width: 100%; 
       height: auto; 
     } 
     
     
     a { 
       text-decoration: none; 
     } 
     .clearfix::after {
      content: '';
      display: table;
      clear: both;
      }
      
      .container {
      max-width: 1110px;
      width: 100%;
      margin: 0px auto;
      }
      
      .logosite {
      margin: 0px;
      padding: 0px;
      font-size: 32px;
      line-height: 32px;
      color: #515151;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      float: left;
      }
      
      .navigation {
      padding-top: 42px;
      }
      
      .site-navigation {
      margin: 0px;
      padding: 0px;
      margin-top: 8px;
      }
      
      nav {
      margin-bottom: 110px;
      }
      
      .logosite::first-letter {
      font-size: 30px;
      line-height: 32px;
      color: #1abc9c;
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      }
      .site-navigation-list-item {
      text-transform: uppercase;
      float: left;
      }
      
      .site-navigation li:not(:first-child) {
      margin-left: 40px;
      }
      
      .site-navigation-list-item a {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 700;
      color: #000;
      }
      
      .site-navigation-list-item a:hover,
      .site-navigation-list-item a:focus {
      color: #1abc9c;
      }
      
      .site-navigation {
      float: right;
      }
      
      
      img {
      display: block;
      background-color: #e9f0fd;
      }
      
      h2,
      h3 {
      margin: 0px;
      padding: 0px;
      }
      
      p {
      margin: 0px;
      }
      
      .products-title {
      margin-bottom: 92px;
      font-size: 48px;
      line-height: 32px;
      color: #515151;
      font-family: 'Roboto';
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
      }
      
      .products-title::after {
      display: block;
      content: '';
      width: 164px;
      height: 7px;
      background-color: #1abc9c;
      margin: 0 auto;
      margin-top: 32px;
      }
      
      .section-name {
      text-align: center;
      }
      
      .product-photo {
      height: 282px;
      width: 255px;
      }
      
      .products-list {
      margin: 0px;
      padding: 0px;
      }
      
      .products-list-item {
      width: 255px;
      height: 322px;
      float: left;
      }
      
      .product-info {
      margin: 0px;
      background-color: #323232;
      }
      
      .product-name {
      height: 40px;
      padding-top: 4px;
      padding-left: 14px;
      float: left;
      line-height: 32px;
      font-size: 18px;
      color: #ffffff;
      font-family: 'Roboto';
      font-weight: 900;
      text-transform: uppercase;
      }
      
      .product-price {
      height: 40px;
      width: 55px;
      padding-top: 4px;
      float: right;
      line-height: 32px;
      font-size: 18px;
      color: #ffffff;
      background-color: rgba(255, 255, 255, 0.5);
      font-family: 'Roboto';
      font-weight: 900;
      text-align: center;
      }
      
      li:hover .product-info {
      background-color: #1abc9c;
      }
      
      .products-list-item:not(:nth-last-child(-n + 4)) {
      margin-bottom: 30px;
      }
      
      .products-list-item:not(:nth-child(4n)) {
      margin-right: 30px;
      }
      
      .about-products {
      margin-bottom: 105px;
      }
      
      .news-title {
      font-size: 48px;
      line-height: 32px;
      color: #555252;
      font-family: 'Roboto';
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 80px;
      }
      
      .news-title::after {
      display: block;
      content: '';
      width: 164px;
      height: 7px;
      background-color: #1abc9c;
      margin: 0 auto;
      margin-top: 32px;
      }
      
      .blog-item-heading {
      font-size: 18px;
      line-height: 26px;
      color: #555252;
      font-family: 'Open Sans';
      font-weight: 600;
      }
      
      .blog-item-heading::after {
      display: block;
      content: '';
      width: 140px;
      height: 4px;
      background-color: #4ec6ab;
      margin-top: 10px;
      margin-bottom: 25px;
      }
      
      .blog-article {
      font-size: 14px;
      letter-spacing: 0px;
      line-height: 26px;
      color: #555252;
      font-family: 'Open Sans';
      font-weight: 400;
      margin-bottom: 16px;
      }
      
      .read-more {
      display: block;
      width: 159px;
      height: 51px;
      padding-top: 12px;
      border-radius: 5px;
      background-color: #4ec6ab;
      font-size: 16px;
      letter-spacing: 0px;
      line-height: 26px;
      color: #ffffff;
      font-family: 'Open Sans';
      font-weight: 300;
      text-align: center;
      }
      
      .news {
      padding-bottom: 80px;
      }
      
      .blog-item {
      width: 350px;
      float: left;
      }
      
      .blog-item:not(:last-child) {
      margin-right: 30px;
      }
      